* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #00000000;
    margin: 0;
    padding: 0;
}

#gradient {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

h1 {
    margin: 32px 0;
    font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
    font-weight: normal;
    text-align: center;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.column3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    place-items: center;
    display: grid;
}

.column:last-child {
    margin-right: 0;
}

.column3 {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    place-items: center;
    display: grid;
}

    .column3:last-child {
        margin-right: 0;
    }

.form-box {
    max-width: 300px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
}

.form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}

/*Form text*/
.title {
    font-weight: bold;
    font-size: 1.6rem;
}

.subtitle {
    font-size: 1rem;
    color: #666;
}

/*Inputs box*/
.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
}

.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    -webkit-box-shadow: rgb(0 0 0 / 8%) 0 -1px;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

    .form-section a {
        font-weight: bold;
        color: #0066ff;
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
    }

        .form-section a:hover {
            color: #005ce6;
            text-decoration: underline;
        }

/*Button*/
.form button {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

    .form button:hover {
        background-color: #005ce6;
    }

.btn-flotante {
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
    text-transform: uppercase; /* Texto en mayusculas */
    font-weight: bold; /* Fuente en negrita o bold */
    color: #ffffff; /* Color del texto */
    border-radius: 5px; /* Borde del boton */
    letter-spacing: 2px; /* Espacio entre letras */
    background-color: #282936; /* Color de fondo */
    padding: 18px 30px; /* Relleno del boton */
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

    .btn-flotante:hover {
        background-color: #767688; /* Color de fondo al pasar el cursor */
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
        transform: translateY(-7px);
    }

@media only screen and (max-width: 600px) {
    .btn-flotante {
        font-size: 14px;
        padding: 12px 20px;
        bottom: 20px;
        right: 20px;
    }
}

.loader {
    position: relative;
    height: 200px;
    width: 200px;
    border-bottom: 3px solid #ff3d00;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: drawLine 4s linear infinite;
    animation: drawLine 4s linear infinite;
}

    .loader:before {
        content: "";
        position: absolute;
        left: calc(100% + 14px);
        bottom: -6px;
        width: 16px;
        height: 100px;
        border-radius: 20px 20px 50px 50px;
        background-repeat: no-repeat;
        background-image: linear-gradient(#ff3d00 6px, transparent 0), linear-gradient(45deg, rgba(0, 0, 0, 0.02) 49%, white 51%), linear-gradient(315deg, rgba(0, 0, 0, 0.02) 49%, white 51%), linear-gradient( to bottom, #ffffff 10%, #ff3d00 10%, #ff3d00 90%, #ffffff 90% );
        background-size: 3px 3px, 8px 8px, 8px 8px, 16px 88px;
        background-position: center bottom, left 88px, right 88px, left top;
        -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        transform: rotate(25deg);
        -webkit-animation: pencilRot 4s linear infinite;
        animation: pencilRot 4s linear infinite;
    }

@-webkit-keyframes drawLine {
    0%, 100% {
        width: 0px
    }

    45%, 55% {
        width: 200px
    }
}

@keyframes drawLine {
    0%, 100% {
        width: 0px
    }

    45%, 55% {
        width: 200px
    }
}

@-webkit-keyframes pencilRot {
    0%, 45% {
        bottom: -6px;
        left: calc(100% + 14px);
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }

    55%, 100% {
        bottom: -12px;
        left: calc(100% + 16px);
        -webkit-transform: rotate(220deg);
        transform: rotate(220deg);
    }
}

@keyframes pencilRot {
    0%, 45% {
        bottom: -6px;
        left: calc(100% + 14px);
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }

    55%, 100% {
        bottom: -12px;
        left: calc(100% + 16px);
        -webkit-transform: rotate(220deg);
        transform: rotate(220deg);
    }
}

@media screen and (max-width: 768px) {
    .column {
        flex-basis: 100%;
        margin-right: 0;
    }

    .column3 {
        flex-basis: 100%;
        margin-right: 0;
    }

    .form {
        flex-basis: 100%;
        margin-right: 0;
    }
}
