@import url('https://fonts.googleapis.com/css?family=Rakkas');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.content {
    display: grid;
    grid-template-rows: repeat(11, 1fr);
}

.title {
    grid-row: 1/3;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.title-t {
    grid-column: 1/2;
}

.title-t2 {
    grid-column: 2/5;
    color: #13192e;
    font-size: 3em;
    font-family: 'Rakkas';
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row: 3/10;
    padding-top: 1em;
}

.end {
    grid-row: 10/-1;
    padding-top: 3em;
}

footer {
    text-align: center;
}

.container-1 {
    display: grid;
    grid-column: 1/2;
    grid-template-rows: repeat(2, 1fr);
    justify-self: center;
}

.img {
    justify-self: center;
    grid-row: 1/2;
    border: #272727;
    background-color: #272727;
    padding: 12px;
    border-radius: 20px;
}

    .img img {
        border-radius: 15px;
    }

.img-2 {
    justify-self: center;
    grid-row: 2/3;
    border: #272727;
    background-color: #272727;
    padding: 12px;
    border-radius: 20px;
}

    .img-2 img {
        border-radius: 15px;
    }

.container-2 {
    gap: 0.5em;
    display: grid;
    grid-column: 2/3;
    grid-template-rows: repeat(2, 1fr);
    gap: 0.2em;
}

    .container-2 .img {
        width: 200px;
        height: 200px;
    }

    .container-2 .img-2 {
        width: 200px;
        height: 200px;
    }

.container-3 {
    display: grid;
    grid-column: 3/4;
    grid-template-rows: repeat(2, 1fr);
    gap: 0.2em;
}

    .container-3 .img {
        justify-self: center;
        grid-row: 1/2;
        border: #27272700;
        background-color: #27272700;
        padding: 12px;
        border-radius: 20px;
        padding-top: 60px;
    }

        .container-3 .img img {
            border-radius: 15px;
        }

    .container-3 .img-2 {
        justify-self: center;
        grid-row: 2/3;
        border: #27272700;
        background-color: #27272700;
        padding: 12px;
        border-radius: 20px;
        padding-top: 60px;
    }

        .container-3 .img-2 img {
            border-radius: 15px;
        }

.container-4 {
    display: grid;
    grid-column: 4/-1;
    grid-template-rows: repeat(2, 1fr);
    gap: 0.2em;
}

    .container-4 .img {
        justify-self: center;
        grid-row: 1/2;
        border: #27272700;
        background-color: #27272700;
        padding: 12px;
        border-radius: 20px;
    }

        .container-4 .img img {
            border-radius: 15px;
        }

    .container-4 .img-2 {
        justify-self: center;
        grid-row: 2/3;
        border: #27272700;
        background-color: #27272700;
        padding: 12px;
        border-radius: 20px;
    }

        .container-4 .img-2 img {
            border-radius: 15px;
        }

.loader {
    grid-column: 5/-1;
    width: 60px;
    height: 60px;
    background: #4285f4;
    border-radius: 10%;
    animation: dice3 7s ease-in-out infinite;
    filter: drop-shadow(2px 3px 40px #444);
}

@keyframes dice3 {
    from, to {
        transform: translateX(-50px) rotateX(0deg);
    }

    25% {
        background: #db4437;
    }

    50% {
        background: #f4b400;
        transform: translateX(50px) rotate(360deg);
    }

    75% {
        background: #0f9d58;
    }
}

.container-1 {
    width: 50%;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    background-color: red;
    border-radius: 10px;
    border: none;
    color: white;
    position: relative;
    cursor: pointer;
    font-weight: 900;
    transition-duration: .2s;
    background: linear-gradient(0deg, #000, #272727);
}

    .container-1:before, .container-1:after {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        border-radius: 10px;
        background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 20s linear infinite;
    }

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.container-1:after {
    filter: blur(100px);
}

.card {
    position: relative;
    width: 85px;
    height: 70px;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    padding-top: 15px;
    padding-left: 130px;
    transition: 0.3s;
}

    .card:hover {
        filter: drop-shadow(5px 5px 0px rgb(185,100,255)) drop-shadow(5px 5px 0px rgb(103,74,255)) drop-shadow(5px 5px 0px rgb(12,204,238));
        scale: 1.05;
    }

.svg {
    position: absolute;
    top: 18px;
    left: 18px;
}

.title1 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    line-height: 0px;
    padding-left: 0.5em;
}

.title2 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    line-height: 2px;
    padding-left: 0.8em;
}

.message h1 {
    font-size: 0.9em;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 5px;
    color: #FCFCFC;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.green {
    color: #60b441;
}

.black {
    color: #131b10;
}

.red {
    color: #e96075;
}

.alert {
    font-weight: 700;
    letter-spacing: 5px;
}

.message p {
    margin-top: -5px;
    font-size: 1em;
    font-weight: 100;
    color: #ffffff;
    letter-spacing: 1px;
}

button, .dot {
    cursor: pointer;
}

#info-box {
    position: absolute;
    width: 20em;
    height: 25em;
    top: 25%;
    left: 40%;
    background: linear-gradient(to bottom right, #10191b 40%, #161c1f 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
    perspective: 40px;
    z-index: 10;
}

#success-box {
    position: absolute;
    width: 20em;
    height: 25em;
    top: 25%;
    left: 40%;
    background: linear-gradient(to bottom right, #B0DB7D 40%, #99DBB4 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
    perspective: 40px;
    z-index: 10;
}

#error-box {
    position: absolute;
    width: 20em;
    height: 25em;
    top: 25%;
    right: 40%;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
    z-index: 10;
}

.dot {
    width: 8px;
    height: 8px;
    background: #FCFCFC;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 6%;
}

    .dot:hover {
        background: #c9c9c9;
    }

.two {
    right: 12%;
    opacity: 0.5;
}

.face {
    position: absolute;
    width: 22%;
    height: 22%;
    background: #FCFCFC;
    border-radius: 50%;
    border: 1px solid #777777;
    top: 21%;
    left: 37.5%;
    z-index: 40;
    animation: bounce 1s ease-in infinite;
}

.face2 {
    position: absolute;
    width: 22%;
    height: 22%;
    background: #FCFCFC;
    border-radius: 50%;
    border: 1px solid #777777;
    top: 21%;
    left: 37.5%;
    z-index: 40;
    animation: roll 3s ease-in-out infinite;
}

.eye {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #777777;
    border-radius: 50%;
    top: 40%;
    left: 20%;
}

.right2 {
    left: 68%;
}

.mouth {
    position: absolute;
    top: 43%;
    left: 41%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.happy {
    border: 2px solid;
    border-color: transparent #777777 #777777 transparent;
    transform: rotate(45deg);
}

.sad {
    top: 49%;
    border: 2px solid;
    border-color: #777777 transparent transparent #777777;
    transform: rotate(45deg);
}

.shadow {
    position: absolute;
    width: 21%;
    height: 3%;
    opacity: 0.5;
    background: #777777;
    left: 40%;
    top: 43%;
    border-radius: 50%;
    z-index: 30;
}

.scale {
    animation: scale 1s ease-in infinite;
}

.move {
    animation: move 3s ease-in-out infinite;
}

.message {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 40%;
    top: 47%;
}


.button-box {
    position: absolute;
    background: #FCFCFC;
    width: 50%;
    height: 15%;
    border-radius: 20px;
    top: 73%;
    left: 25%;
    outline: 0;
    border: none;
    box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
    transition: all 0.5s ease-in-out;
}

    .button-box:hover {
        background: #efefef;
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
    }

@keyframes bounce {
    50% {
        transform: translateY(-10px);
    }
}

@keyframes scale {
    50% {
        transform: scale(0.9);
    }
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
        left: 25%;
    }

    50% {
        left: 60%;
        transform: rotate(168deg);
    }

    100% {
        transform: rotate(0deg);
        left: 25%;
    }
}

@keyframes move {
    0% {
        left: 25%;
    }

    50% {
        left: 60%;
    }

    100% {
        left: 25%;
    }
}
