@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500,500i,600,600i,700,700i |Cormorant+SC:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Rakkas');

.content {
    display: grid;
    grid-template-rows: repeat(14, 1fr);
    row-gap: 1em;
}

.title {
    grid-row: 1/3;
    justify-self: center;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;
    grid-row: 3/14;
    padding-top: 4em;
}

.container-img {
    justify-self: center;
    padding-left: 1em;
}

.card-inner img {
    width: 450px;
    height: 450px;
}

.container-right {
    display: grid;
    grid-template-rows: repeat(5,1fr);
}

.container-text {
    grid-row: 1/5;
    padding-right: 10em;
    padding-top: 4em;
}

.container-button {
    grid-row: 5/6;
    justify-self: end;
    padding-right: 12em;
}

.confirm {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
}

    .confirm:before {
        content: "";
        position: absolute;
        width: 100px;
        height: 120%;
        background-color: #ff6700;
        top: 50%;
        transform: skewX(30deg) translate(-150%, -50%);
        transition: all 0.5s;
    }

    .confirm:hover {
        background-color: #4cc9f0;
        color: #fff;
        box-shadow: 0 2px 0 2px #0d3b66;
    }

        .confirm:hover::before {
            transform: skewX(30deg) translate(150%, -50%);
            transition-delay: 0.1s;
        }

    .confirm:active {
        transform: scale(0.9);
    }

.card p {
    font-size: 29px;
    line-height: 1.4em;
    color: #000000;
    z-index: 6;
    padding: 2em 2em;
    text-align: center;
}

.card {
    position: relative;
    width: 95%;
    height: 250px;
    border-radius: 14px;
    z-index: 5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    ;
}

.bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 99%;
    height: 96%;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
}

.blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 60%;
    border-radius: 50%;
    background-color: #d4af37;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}

.btn {
    display: block;
    padding: 0.7em 1em;
    background: transparent;
    outline: none;
    border: 0;
    color: #d4af37;
    letter-spacing: 0.1em;
    font-family: monospace;
    font-size: 17px;
    font-weight: bold;
    z-index: 1;
}

.cube {
    position: relative;
    transition: all 0.5s;
}

    .cube .bg-top {
        position: absolute;
        height: 10px;
        background: #d4af37;
        bottom: 100%;
        left: 5px;
        right: -5px;
        transform: skew(-45deg, 0);
        margin: 0;
        transition: all 0.4s;
    }

        .cube .bg-top .bg-inner {
            bottom: 0;
        }

    .cube .bg_i {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        background: #d4af37;
        transition: all 0.4s;
    }

    .cube .bg-right {
        position: absolute;
        background: #d4af37;
        top: -5px;
        z-index: 0;
        bottom: 5px;
        width: 10px;
        left: 100%;
        transform: skew(0, -45deg);
        transition: all 0.4s;
    }

        .cube .bg-right .bg-inner {
            left: 0;
        }

    .cube .bg-inner {
        background: #28282d;
        position: absolute;
        left: 2px;
        right: 2px;
        top: 2px;
        bottom: 2px;
    }

    .cube .text {
        position: relative;
        transition: all 0.4s;
    }

    .cube:hover .bg-inner {
        background: #d4af37;
        transition: all 0.4s;
    }

    .cube:hover .text {
        color: #28282d;
        transition: all 0.4s;
    }

    .cube:hover .bg-right,
    .cube:hover .bg_i,
    .cube:hover .bg-top {
        background: #28282d;
    }

    .cube:active {
        z-index: 9999;
        animation: bounce .1s linear;
    }

@keyframes bounce {
    50% {
        transform: scale(0.9);
    }
}


@keyframes animate8345 {
    0%,100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

.title-t {
    color: #DBAB4C;
    font-size: 4em;
    font-family: 'Rakkas';
    justify-self: start;
    padding-left: 0.2em;
}

.loader {
    position: relative;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    border: 8px solid #131a1d;
    overflow: hidden;
    box-sizing: border-box;
    justify-self: end;
}

    .loader::after {
        content: '';
        position: absolute;
        left: 0;
        top: -50%;
        width: 100%;
        height: 100%;
        background: #263238;
        z-index: 5;
        border-bottom: 8px solid #131a1d;
        box-sizing: border-box;
        animation: eyeShade 3s infinite;
    }

    .loader::before {
        content: '';
        position: absolute;
        left: 20px;
        bottom: 15px;
        width: 32px;
        z-index: 2;
        height: 32px;
        background: #111;
        border-radius: 50%;
        animation: eyeMove 3s infinite;
    }

@keyframes eyeShade {
    0% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(5px)
    }

    40%, 50% {
        transform: translateY(-5px)
    }

    60% {
        transform: translateY( -8px)
    }

    75% {
        transform: translateY( 5px)
    }

    100% {
        transform: translateY(10px)
    }
}

@keyframes eyeMove {
    0% {
        transform: translate(0, 0)
    }

    20% {
        transform: translate(0px, 5px)
    }

    40%, 50% {
        transform: translate(0px, -5px)
    }

    60% {
        transform: translate(-10px, -5px)
    }

    75% {
        transform: translate(-20px, 5px)
    }

    100% {
        transform: translate(0, 10px)
    }
}

.card2 {
    width: 460px;
    height: 460px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
}

.card-inner {
    width: 460px;
    height: 460px;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.card2:hover {
    transform: scale(1.04) rotate(1deg);
}

.circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#d9db4c, #DBAB4C);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

    .circle:nth-child(1) {
        top: -25px;
        left: -25px;
    }

    .circle:nth-child(2) {
        bottom: -25px;
        right: -25px;
        animation-name: move-down1;
    }

@keyframes move-up6 {
    to {
        transform: translateY(-10px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(10px);
    }
}

.message h1 {
    font-size: 0.9em;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 5px;
    color: #FCFCFC;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.green {
    color: #10191b;
}

.red {
    color: #e96075;
}

.alert {
    font-weight: 700;
    letter-spacing: 5px;
}

.message p {
    margin-top: -5px;
    font-size: 1em;
    font-weight: 100;
    color: #5e5e5e;
    letter-spacing: 1px;
}

#success-box .message p {
    color: rgb(255, 255, 255);
}

button, .dot {
    cursor: pointer;
}

#success-box {
    position: absolute;
    width: 22em;
    height: 25em;
    top: 25%;
    left: 40%;
    background: linear-gradient(to bottom right, #10191b 40%, #161c1f 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
    perspective: 40px;
    z-index: 10;
}

#error-box {
    position: absolute;
    width: 20em;
    height: 25em;
    top: 25%;
    right: 40%;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
    z-index: 10;
}

.dot {
    width: 8px;
    height: 8px;
    background: #FCFCFC;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 6%;
}

    .dot:hover {
        background: #c9c9c9;
    }

.two {
    right: 12%;
    opacity: 0.5;
}

.face {
    position: absolute;
    width: 22%;
    height: 22%;
    background: #FCFCFC;
    border-radius: 50%;
    border: 1px solid #777777;
    top: 21%;
    left: 37.5%;
    z-index: 40;
    animation: bounce 1s ease-in infinite;
}

.face2 {
    position: absolute;
    width: 22%;
    height: 22%;
    background: #FCFCFC;
    border-radius: 50%;
    border: 1px solid #777777;
    top: 21%;
    left: 37.5%;
    z-index: 40;
    animation: roll 3s ease-in-out infinite;
}

.eye {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #777777;
    border-radius: 50%;
    top: 40%;
    left: 20%;
}

.right {
    left: 68%;
}

.mouth {
    position: absolute;
    top: 43%;
    left: 41%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.happy {
    border: 2px solid;
    border-color: transparent #777777 #777777 transparent;
    transform: rotate(45deg);
}

.sad {
    top: 49%;
    border: 2px solid;
    border-color: #777777 transparent transparent #777777;
    transform: rotate(45deg);
}

.shadow {
    position: absolute;
    width: 21%;
    height: 3%;
    opacity: 0.5;
    background: #777777;
    left: 40%;
    top: 43%;
    border-radius: 50%;
    z-index: 30;
}

.scale {
    animation: scale 1s ease-in infinite;
}

.move {
    animation: move 3s ease-in-out infinite;
}

.message {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 40%;
    top: 47%;
}

.button-box {
    position: absolute;
    background: #FCFCFC;
    width: 50%;
    height: 15%;
    border-radius: 20px;
    top: 73%;
    left: 25%;
    outline: 0;
    border: none;
    box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
    transition: all 0.5s ease-in-out;
}

    .button-box:hover {
        background: #efefef;
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
    }

@keyframes bounce {
    50% {
        transform: translateY(-10px);
    }
}

@keyframes scale {
    50% {
        transform: scale(0.9);
    }
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
        left: 25%;
    }

    50% {
        left: 60%;
        transform: rotate(168deg);
    }

    100% {
        transform: rotate(0deg);
        left: 25%;
    }
}

@keyframes move {
    0% {
        left: 25%;
    }

    50% {
        left: 60%;
    }

    100% {
        left: 25%;
    }
}

@media (max-width:768px) {
    .container-img {
        grid-column: 1/-1;
        align-self: center;
    }

    .card-inner img {
        width: 250px;
        height: 250px;
    }

    .card2 {
        width: 260px;
        height: 260px;
    }

    .card-inner {
        width: 260px;
        height: 260px;
    }

    .container-right {
        grid-column: 1/-1;
        padding-left: 1em;
        align-self: center;
    }

    .container-button {
        padding-top: 2em;
        padding-left: 8em;
    }

    .card {
        width: 400px;
        height: 500px;
    }

    #success-box {
        width: 20em;
        height: 25em;
        top: 20%;
        left: 8%;
    }
}
