@import url('https://fonts.googleapis.com/css?family=Rakkas');

.content {
    display: grid;
    grid-template-rows: repeat(11, 1fr);
}

.title {
    grid-row: 1/3;
    justify-self: center;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-row: 3/10;
    padding-top: 1em;
}

.container-1 {
    display: grid;
    grid-column: 1/2;
    justify-self: end;
    grid-auto-rows: minmax(auto, 9em);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 2em;
}

.img {
    grid-row: 1/2;
}

.img-2 {
    grid-row: 2/3;
    width: 8.5em;
    height: 8.5em;
    margin-top: 1em;
}

.img2 img {
    margin-top: 1em;
}

.button-cont {
    grid-row: 3/4;
    align-self: end;
    margin-bottom: 2em;
}

.container-2 {
    display: grid;
    grid-column: 2/3;
    justify-self: center;
    margin-left: 6em;
    grid-template-rows: repeat(3, 1fr);
}

.container-3 {
    display: grid;
    grid-column: 3/4;
    justify-self: center;
    grid-template-rows: repeat(3, 1fr);
}

.container-4 {
    display: grid;
    grid-column: 4/5;
    justify-self: center;
    margin-right: 6em;
    grid-template-rows: repeat(3, 1fr);
}

.container-5 {
    display: grid;
    grid-column: 5/-1;
    justify-self: start;
    grid-template-rows: repeat(3, 1fr);
}

.end {
    grid-row: 10/-1;
    padding-top: 3em;
    justify-self: end;
}

.container-button {
    margin-right: 4em;
}

.title-t {
    color: #43919B;
    font-size: 4em;
    font-family: 'Rakkas';
}

.loading {
    width: 50px;
    height: 50px;
    perspective: 500px;
    margin: 25px auto;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 2s infinite linear;
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(255, 255, 255);
}

.front {
    background: linear-gradient(45deg, #f00, #0ff);
    transform: translateZ(25px);
}

.back {
    background: linear-gradient(45deg, #0ff, #f00);
    transform: translateZ(-25px) rotateY(180deg);
}

.top {
    background: linear-gradient(45deg, #f0f, #ff0);
    transform: rotateX(90deg) translateZ(25px);
}

.bottom {
    background: linear-gradient(45deg, #ff0, #f0f);
    transform: rotateX(-90deg) translateZ(25px);
}

.left {
    background: linear-gradient(45deg, #0f0, #00f);
    transform: rotateY(-90deg) translateZ(25px);
}

.right {
    background: linear-gradient(45deg, #00f, #0f0);
    transform: rotateY(90deg) translateZ(25px);
}

@keyframes rotate {
    from {
        transform: rotateY(0deg) rotateX(0deg);
    }

    to {
        transform: rotateY(360deg) rotateX(360deg);
    }
}

.btn {
    display: block;
    padding: 0.7em 1em;
    background: transparent;
    outline: none;
    border: 0;
    color: #00FFAB;
    letter-spacing: 0.1em;
    font-family: monospace;
    font-size: 17px;
    font-weight: bold;
    z-index: 1;
}

.cube2 {
    position: relative;
    transition: all 0.5s;
}

    .cube2 .bg-top {
        position: absolute;
        height: 10px;
        background: #00FFAB;
        bottom: 100%;
        left: 5px;
        right: -5px;
        transform: skew(-45deg, 0);
        margin: 0;
        transition: all 0.4s;
    }

        .cube2 .bg-top .bg-inner {
            bottom: 0;
        }

    .cube2 .bg_i {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        background: #00FFAB;
        transition: all 0.4s;
    }

    .cube2 .bg-right {
        position: absolute;
        background: #00FFAB;
        top: -5px;
        z-index: 0;
        bottom: 5px;
        width: 10px;
        left: 100%;
        transform: skew(0, -45deg);
        transition: all 0.4s;
    }

        .cube2 .bg-right .bg-inner {
            left: 0;
        }

    .cube2 .bg-inner {
        background: #43919B;
        position: absolute;
        left: 2px;
        right: 2px;
        top: 2px;
        bottom: 2px;
    }

    .cube2 .text {
        position: relative;
        transition: all 0.4s;
    }

    .cube2:hover .bg-inner {
        background: #00FFAB;
        transition: all 0.4s;
    }

    .cube2:hover .text {
        color: #43919B;
        transition: all 0.4s;
    }

    .cube2:hover .bg-right,
    .cube2:hover .bg_i,
    .cube2:hover .bg-top {
        background: #43919B;
    }

    .cube2:active {
        z-index: 9999;
        animation: bounce .1s linear;
    }

@keyframes bounce {
    50% {
        transform: scale(0.9);
    }
}


@keyframes animate8345 {
    0%,100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

.container-button2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "bt-1 bt-2 bt-3"
        "bt-4 bt-5 bt-6";
    position: relative;
    perspective: 800;
    padding: 0;
    width: 135px;
    height: 47px;
    transition: all 0.3s ease-in-out;
}

    .container-button2:active {
        transform: scale(0.95);
    }

.hover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.bt-1 {
    grid-area: bt-1;
}

.bt-2 {
    grid-area: bt-2;
}

.bt-3 {
    grid-area: bt-3;
}

.bt-4 {
    grid-area: bt-4;
}

.bt-5 {
    grid-area: bt-5;
}

.bt-6 {
    grid-area: bt-6;
}

.bt-1:hover ~ .son {
    transform: rotateX(15deg) rotateY(-15deg) rotateZ(0deg);
    box-shadow: -2px -2px #18181888;
}

    .bt-1:hover ~ .son::after {
        animation: shake 0.5s ease-in-out 0.3s;
        text-shadow: -2px -2px #18181888;
    }

.bt-3:hover ~ .son {
    transform: rotateX(15deg) rotateY(15deg) rotateZ(0deg);
    box-shadow: 2px -2px #18181888;
}

    .bt-3:hover ~ .son::after {
        animation: shake 0.5s ease-in-out 0.3s;
        text-shadow: 2px -2px #18181888;
    }

.bt-4:hover ~ .son {
    transform: rotateX(-15deg) rotateY(-15deg) rotateZ(0deg);
    box-shadow: -2px 2px #18181888;
}

    .bt-4:hover ~ .son::after {
        animation: shake 0.5s ease-in-out 0.3s;
        text-shadow: -2px 2px #18181888;
    }

.bt-6:hover ~ .son {
    transform: rotateX(-15deg) rotateY(15deg) rotateZ(0deg);
    box-shadow: 2px 2px #18181888;
}

    .bt-6:hover ~ .son::after {
        animation: shake 0.5s ease-in-out 0.3s;
        text-shadow: 2px 2px #18181888;
    }

.hover:hover ~ .son::before {
    background: transparent;
}

.hover:hover ~ .son::after {
    content: "Escucha";
    top: -150%;
    transform: translate(-50%, 0);
    font-size: 34px;
    color: #43919B;
}

.son {
    position: absolute;
    padding: 0;
    width: 135px;
    height: 47px;
    background: transparent;
    font-size: 17px;
    font-weight: 900;
    border: 3px solid #43919B;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

    .son::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 135px;
        height: 47px;
        background-color: #43919B;
        border-radius: 12px;
        transition: all 0.3s ease-in-out;
        z-index: -1;
    }

    .son::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 135px;
        height: 47px;
        background-color: transparent;
        font-size: 17px;
        font-weight: 900;
        line-height: 47px;
        color: #ffffff;
        border: none;
        border-radius: 12px;
        transition: all 0.3s ease-in-out;
        z-index: 2;
    }

.container-1 .son::after {
    content: "Cinco";
}

.container-2 .son::after {
    content: "Seis";
}

.container-3 .son::after {
    content: "Siete";
}

.container-4 .son::after {
    content: "Ocho";
}

.container-5 .son::after {
    content: "Nueve";
}

@keyframes shake {
    0% {
        left: 45%;
    }

    25% {
        left: 54%;
    }

    50% {
        left: 48%;
    }

    75% {
        left: 52%;
    }

    100% {
        left: 50%;
    }
}

.card {
    width: auto;
    height: auto;
    background: #fff;
    border: 3px solid #43919B;
    border-radius: 0;
    box-shadow: 15px 15px 0 -2.5px #fff, 15px 15px 0 0 #43919B;
}


.message h1 {
    font-size: 0.9em;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 5px;
    color: #FCFCFC;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.green {
    color: #10191b;
}

.red {
    color: #e96075;
}

.alert {
    font-weight: 700;
    letter-spacing: 5px;
}

.message p {
    margin-top: -5px;
    font-size: 1em;
    font-weight: 100;
    color: #5e5e5e;
    letter-spacing: 1px;
}

#success-box .message p {
    color: rgb(255, 255, 255);
}

button, .dot {
    cursor: pointer;
}

#success-box {
    position: absolute;
    width: 20em;
    height: 25em;
    top: 25%;
    left: 40%;
    background: linear-gradient(to bottom right, #10191b 40%, #161c1f 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
    perspective: 40px;
    z-index: 10;
}

#error-box {
    position: absolute;
    width: 20em;
    height: 25em;
    top: 25%;
    right: 40%;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
    z-index: 10;
}

.dot {
    width: 8px;
    height: 8px;
    background: #FCFCFC;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 6%;
}

    .dot:hover {
        background: #c9c9c9;
    }

.two {
    right: 12%;
    opacity: 0.5;
}

.face {
    position: absolute;
    width: 22%;
    height: 22%;
    background: #FCFCFC;
    border-radius: 50%;
    border: 1px solid #777777;
    top: 21%;
    left: 37.5%;
    z-index: 40;
    animation: bounce 1s ease-in infinite;
}

.face2 {
    position: absolute;
    width: 22%;
    height: 22%;
    background: #FCFCFC;
    border-radius: 50%;
    border: 1px solid #777777;
    top: 21%;
    left: 37.5%;
    z-index: 40;
    animation: roll 3s ease-in-out infinite;
}

.eye {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #777777;
    border-radius: 50%;
    top: 40%;
    left: 20%;
}

.right2 {
    left: 68%;
}

.mouth {
    position: absolute;
    top: 43%;
    left: 41%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.happy {
    border: 2px solid;
    border-color: transparent #777777 #777777 transparent;
    transform: rotate(45deg);
}

.sad {
    top: 49%;
    border: 2px solid;
    border-color: #777777 transparent transparent #777777;
    transform: rotate(45deg);
}

.shadow {
    position: absolute;
    width: 21%;
    height: 3%;
    opacity: 0.5;
    background: #777777;
    left: 40%;
    top: 43%;
    border-radius: 50%;
    z-index: 30;
}

.scale {
    animation: scale 1s ease-in infinite;
}

.move {
    animation: move 3s ease-in-out infinite;
}

.message {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 40%;
    top: 47%;
}

.button-box {
    position: absolute;
    background: #FCFCFC;
    width: 50%;
    height: 15%;
    border-radius: 20px;
    top: 73%;
    left: 25%;
    outline: 0;
    border: none;
    box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
    transition: all 0.5s ease-in-out;
}

    .button-box:hover {
        background: #efefef;
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
    }

@keyframes bounce {
    50% {
        transform: translateY(-10px);
    }
}

@keyframes scale {
    50% {
        transform: scale(0.9);
    }
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
        left: 25%;
    }

    50% {
        left: 60%;
        transform: rotate(168deg);
    }

    100% {
        transform: rotate(0deg);
        left: 25%;
    }
}

@keyframes move {
    0% {
        left: 25%;
    }

    50% {
        left: 60%;
    }

    100% {
        left: 25%;
    }
}
/* this button is inspired from this -- https://www.newline.co/pricing */
#cuatro {
    --width: 150px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    padding-block: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    background: #14C38E;
    transition: all 0.2s;
    border-radius: 3px;
}

    #cuatro:hover {
        background-image: linear-gradient(to right, rgb(250, 82, 82), rgb(250, 82, 82) 16.65%, rgb(190, 75, 219) 16.65%, rgb(190, 75, 219) 33.3%, rgb(76, 110, 245) 33.3%, rgb(76, 110, 245) 49.95%, rgb(64, 192, 87) 49.95%, rgb(64, 192, 87) 66.6%, rgb(250, 176, 5) 66.6%, rgb(250, 176, 5) 83.25%, rgb(253, 126, 20) 83.25%, rgb(253, 126, 20) 100%, rgb(250, 82, 82) 100%);
        animation: var(--timing) linear dance6123 infinite;
        transform: scale(1.1) translateY(-1px);
    }

@keyframes dance6123 {
    to {
        background-position: var(--width);
    }
}

@media (max-width:768px) {
    .title {
        grid-column: 1/-1;
        align-self: center;
        align-content: center;
        margin-top: 0em;
    }

    .title-t {
        font-size: 2em;
        align-content: center;
    }

    .container-1 {
        grid-column: 1/-1;
        justify-self: center;
        margin-left: 0em;
        margin-right: 0em;
    }

    .container-2 {
        grid-column: 1/-1;
        justify-self: center;
        margin-left: 0em;
        margin-right: 0em;
    }

    .container-3 {
        grid-column: 1/-1;
        justify-self: center;
        margin-left: 0em;
        margin-right: 0em;
    }

    .container-4 {
        grid-column: 1/-1;
        justify-self: center;
        margin-left: 0em;
        margin-right: 0em;
    }

    .container-5 {
        grid-column: 1/-1;
        justify-self: center;
        margin-left: 0em;
        margin-right: 0em;
    }

    #success-box {
        width: 20em;
        height: 25em;
        top: 20%;
        left: 8%;
    }

    #error-box {
        width: 20em;
        height: 25em;
        top: 20%;
        left: 8%;
    }
}
