@import url('https://fonts.googleapis.com/css?family=Rakkas');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
    background-color: #bbb7b7b2;
}

.content-Page {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
}

.title-Top {
    grid-row: 1/2;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
/* LeccionIcon*/
.title-t {
    grid-column: 1/2;
    justify-self: center;
}

.card2 {
    width: 190px;
    height: 80px;
    background-color: #eee;
    text-align: center;
    border: 10px solid #eee;
    border-radius: 20px;
    box-shadow: inset 5px 5px 10px #bbb, inset -5px -5px 10px #fff;
    transition: 0.5s;
}

    .card2:hover {
        height: 254px;
    }

.icon2 {
    width: 60px;
    height: 60px;
    color: red;
    font-size: 30px;
    background-color: #eee;
    margin: 20px auto;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
}

.content-card2 {
    color: #999;
    background-color: #eee;
    padding: 10px;
    margin: 5px 20px;
    border-radius: 8px;
    box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
    transform: translateY(-80px) scale(0);
    transition: all 0.5s;
}

.card2:hover .content-card2 {
    transform: translateY(0) scale(1)
}

.content-card2 h3 {
    text-shadow: 2px 2px 0px #fff;
}
/* LeccionTitulo*/
.title-t2 {
    grid-column: 2/5;
    color: #13192e;
    font-size: 3em;
    font-family: 'Rakkas';
    justify-self: center;
}
/* LeccionIconEnd*/
.title-t3 {
    grid-column: 5/6;
}

.loader {
    position: relative;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: #fff;
    border: 8px solid #131a1d;
    overflow: hidden;
    box-sizing: border-box;
}

    .loader::after {
        content: '';
        position: absolute;
        left: 0;
        top: -50%;
        width: 100%;
        height: 100%;
        background: #263238;
        z-index: 5;
        border-bottom: 8px solid #131a1d;
        box-sizing: border-box;
        animation: eyeShade 3s infinite;
    }

    .loader::before {
        content: '';
        position: absolute;
        left: 20px;
        bottom: 15px;
        width: 32px;
        z-index: 2;
        height: 32px;
        background: #111;
        border-radius: 50%;
        animation: eyeMove 3s infinite;
    }

@keyframes eyeShade {
    0% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(5px)
    }

    40%, 50% {
        transform: translateY(-5px)
    }

    60% {
        transform: translateY( -8px)
    }

    75% {
        transform: translateY( 5px)
    }

    100% {
        transform: translateY(10px)
    }
}

@keyframes eyeMove {
    0% {
        transform: translate(0, 0)
    }

    20% {
        transform: translate(0px, 5px)
    }

    40%, 50% {
        transform: translate(0px, -5px)
    }

    60% {
        transform: translate(-10px, -5px)
    }

    75% {
        transform: translate(-20px, 5px)
    }

    100% {
        transform: translate(0, 10px)
    }
}
/* LeccionContenido*/
.container {
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(7,1fr);
    grid-row: 2/7;
    margin-top: -50px;
}
/* LeccionContenidoDescription*/
.container-1 {
    grid-row: 2/4;
    grid-column: 2/4;
}

.page {
    position: relative;
    box-sizing: border-box;
    max-width: 300px;
    font-family: cursive;
    font-size: 20px;
    border-radius: 10px;
    background: #fff;
    background-image: linear-gradient(#f5f5f0 1.1rem, #ccc 1.2rem);
    background-size: 100% 1.2rem;
    line-height: 1.2rem;
    padding: 1.4rem 0.5rem 0.3rem 4.5rem;
}

    .page::before,
    .page::after {
        position: absolute;
        content: "";
        bottom: 10px;
        width: 40%;
        height: 10px;
        box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
        z-index: -1;
        transition: all 0.3s ease;
    }

    .page::before {
        left: 15px;
        transform: skew(-5deg) rotate(-5deg);
    }

    .page::after {
        right: 15px;
        transform: skew(5deg) rotate(5deg);
    }

    .page:hover::before,
    .page:hover::after {
        box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
    }

.margin {
    position: absolute;
    border-left: 1px solid #d88;
    height: 100%;
    left: 3.3rem;
    top: 0;
}

.page p {
    margin: 0;
    text-indent: 1rem;
    padding-bottom: 1.2rem;
    color: black;
    line-height: 20px;
}
/* LeccionContenidoVocals*/
.container-2 {
    grid-row: 1/2;
    grid-column: 5/6;
}

.container-3 {
    grid-row: 1/2;
    grid-column: 6/7;
}

.container-4 {
    grid-row: 1/2;
    grid-column: 7/8;
}

.container-5 {
    grid-row: 1/2;
    grid-column: 8/9;
}

.container-6 {
    grid-row: 1/2;
    grid-column: 9/10;
}

.container-7 {
    grid-row: 1/2;
    grid-column: 10/11;
}
/* LeccionContenidoVocals*/
.container-8 {
    grid-row: 2/3;
    grid-column: 5/6;
}

.container-9 {
    grid-row: 2/3;
    grid-column: 6/7;
}

.container-10 {
    grid-row: 2/3;
    grid-column: 7/8;
}

.container-11 {
    grid-row: 2/3;
    grid-column: 8/9;
}

.container-12 {
    grid-row: 2/3;
    grid-column: 9/10;
}

.container-13 {
    grid-row: 2/3;
    grid-column: 10/11;
}
/* LeccionContenidoVocals*/
.container-14 {
    grid-row: 3/4;
    grid-column: 5/6;
}

.container-15 {
    grid-row: 3/4;
    grid-column: 6/7;
}

.container-16 {
    grid-row: 3/4;
    grid-column: 7/8;
}

.container-17 {
    grid-row: 3/4;
    grid-column: 8/9;
}

.container-18 {
    grid-row: 3/4;
    grid-column: 9/10;
}

.container-19 {
    grid-row: 3/4;
    grid-column: 10/11;
}
/* LeccionContenidoVocals*/
.container-20 {
    grid-row: 4/5;
    grid-column: 6/7;
    ;
}

.container-21 {
    grid-row: 4/5;
    grid-column: 7/8;
}

.container-22 {
    grid-row: 4/5;
    grid-column: 8/9;
}

.container-23 {
    grid-row: 4/5;
    grid-column: 9/10;
}

.card {
    width: 2rem;
    cursor: pointer;
}

.content {
    text-align: center;
    position: relative;
    transition: all 2.25s;
    background-color: rgb(0, 0, 0);
    padding: 4.46em;
    transform-style: preserve-3d;
}

.card:hover .content {
    transform: rotateY(0.5turn);
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.title {
    transform: translateZ(2rem);
}

.subtitle {
    transform: translateZ(1rem);
    color: #000000;
    font-size: 1.3em;
}

.back {
    transform: rotateY(0.5turn);
    background-color: #ffffff;
}

.description {
    transform: translateZ(1rem);
    padding-top: 0.5em;
    font-size: 2em;
    color: #000000;
}
/* LeccionContenidoVocals*/
.container-2 .card .content, .container-2 .card .back {
    background-color: #AEE2FF;
}

.container-3 .card .content, .container-3 .card .back {
    background-color: #99A98F;
}

.container-4 .card .content, .container-4 .card .back {
    background-color: #3A98B9;
}

.container-5 .card .content, .container-5 .card .back {
    background-color: #F2BED1;
}

.container-6 .card .content, .container-6 .card .back {
    background-color: #FFFBAC;
}

.container-7 .card .content, .container-7 .card .back {
    background-color: #FCF8E8;
}
/* LeccionContenidoVocals*/
.container-8 .card .content, .container-8 .card .back {
    background-color: #D9F8C4;
}

.container-9 .card .content, .container-9 .card .back {
    background-color: #6E85B7;
}

.container-10 .card .content, .container-10 .card .back {
    background-color: #FCF8E8;
}

.container-11 .card .content, .container-11 .card .back {
    background-color: #C3FF99;
}

.container-12 .card .content, .container-12 .card .back {
    background-color: #FFD9C0;
}

.container-13 .card .content, .container-13 .card .back {
    background-color: #40DFEF;
}
/* LeccionContenidoVocals*/
.container-14 .card .content, .container-14 .card .back {
    background-color: #FDF6F0;
}

.container-15 .card .content, .container-15 .card .back {
    background-color: #E7EAB5;
}

.container-16 .card .content, .container-16 .card .back {
    background-color: #C9CCD5;
}

.container-17 .card .content, .container-17 .card .back {
    background-color: #B5CDA3;
}

.container-18 .card .content, .container-18 .card .back {
    background-color: #A1CAE2;
}

.container-19 .card .content, .container-19 .card .back {
    background-color: #A19882;
}
/* LeccionContenidoVocals*/
.container-20 .card .content, .container-20 .card .back {
    background-color: #F9F7CF;
}

.container-21 .card .content, .container-21 .card .back {
    background-color: #BCE6EB;
}

.container-22 .card .content, .container-22 .card .back {
    background-color: #FFD5CD;
}

.container-23 .card .content, .container-23 .card .back {
    background-color: #9AB3F5;
}

.end {
    margin-top: -840px;
    margin-left: 85em;
}

.btn {
    display: block;
    padding: 0.7em 1em;
    background: transparent;
    outline: none;
    border: 0;
    color: #000000;
    letter-spacing: 0.1em;
    font-family: monospace;
    font-size: 17px;
    font-weight: bold;
    z-index: 1;
}

.cube {
    position: relative;
    transition: all 0.5s;
}

    .cube .bg-top {
        position: absolute;
        height: 10px;
        background: #000000;
        bottom: 100%;
        left: 5px;
        right: -5px;
        transform: skew(-45deg, 0);
        margin: 0;
        transition: all 0.4s;
    }

        .cube .bg-top .bg-inner {
            bottom: 0;
        }

    .cube .bg_i {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        background: #000000;
        transition: all 0.4s;
    }

    .cube .bg-right {
        position: absolute;
        background: #000000;
        top: -5px;
        z-index: 0;
        bottom: 5px;
        width: 10px;
        left: 100%;
        transform: skew(0, -45deg);
        transition: all 0.4s;
    }

        .cube .bg-right .bg-inner {
            left: 0;
        }

    .cube .bg-inner {
        background: #ffffff;
        position: absolute;
        left: 2px;
        right: 2px;
        top: 2px;
        bottom: 2px;
    }

    .cube .text {
        position: relative;
        transition: all 0.4s;
    }

    .cube:hover .bg-inner {
        background: #000000;
        transition: all 0.4s;
    }

    .cube:hover .text {
        color: #ffffff;
        transition: all 0.4s;
    }

    .cube:hover .bg-right,
    .cube:hover .bg_i,
    .cube:hover .bg-top {
        background: #ffffff;
    }

    .cube:active {
        z-index: 9999;
        animation: bounce .1s linear;
    }

@keyframes bounce {
    50% {
        transform: scale(0.9);
    }
}


@keyframes animate8345 {
    0%,100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

footer {
    text-align: center;
    margin-top: -1em;
}

.green {
    color: #10191b;
}

.red {
    color: #e96075;
}

.alert {
    font-weight: 700;
    letter-spacing: 5px;
    color: #f8f6f6;
}

.message p {
    margin-top: -5px;
    font-size: 1em;
    font-weight: 100;
    color: #f8f6f6;
    letter-spacing: 1px;
}

#success-box .message p {
    color: rgb(255, 255, 255);
}

button, .dot {
    cursor: pointer;
}

#success-box {
    position: absolute;
    width: 22em;
    height: 25em;
    top: 25%;
    left: 40%;
    background: linear-gradient(to bottom right, #10191b 40%, #161c1f 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
    perspective: 40px;
    z-index: 10;
}

#error-box {
    position: absolute;
    width: 20em;
    height: 25em;
    top: 25%;
    right: 40%;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(203, 205, 211, 0.1);
    z-index: 10;
}

.dot {
    width: 8px;
    height: 8px;
    background: #FCFCFC;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 6%;
}

    .dot:hover {
        background: #c9c9c9;
    }

.two {
    right: 12%;
    opacity: 0.5;
}

.face {
    position: absolute;
    width: 22%;
    height: 22%;
    background: #FCFCFC;
    border-radius: 50%;
    border: 1px solid #777777;
    top: 21%;
    left: 37.5%;
    z-index: 40;
    animation: bounce 1s ease-in infinite;
}

.face2 {
    position: absolute;
    width: 22%;
    height: 22%;
    background: #FCFCFC;
    border-radius: 50%;
    border: 1px solid #777777;
    top: 21%;
    left: 37.5%;
    z-index: 40;
    animation: roll 3s ease-in-out infinite;
}

.eye {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #777777;
    border-radius: 50%;
    top: 40%;
    left: 20%;
}

.right {
    left: 68%;
}

.mouth {
    position: absolute;
    top: 43%;
    left: 41%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.happy {
    border: 2px solid;
    border-color: transparent #777777 #777777 transparent;
    transform: rotate(45deg);
}

.sad {
    top: 49%;
    border: 2px solid;
    border-color: #777777 transparent transparent #777777;
    transform: rotate(45deg);
}

.shadow {
    position: absolute;
    width: 21%;
    height: 3%;
    opacity: 0.5;
    background: #777777;
    left: 40%;
    top: 43%;
    border-radius: 50%;
    z-index: 30;
}

.scale {
    animation: scale 1s ease-in infinite;
}

.move {
    animation: move 3s ease-in-out infinite;
}

.message {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 40%;
    top: 47%;
}

.button-box {
    position: absolute;
    background: #FCFCFC;
    width: 50%;
    height: 15%;
    border-radius: 20px;
    top: 73%;
    left: 25%;
    outline: 0;
    border: none;
    box-shadow: 2px 2px 10px rgba(119, 119, 119, 0.5);
    transition: all 0.5s ease-in-out;
}

    .button-box:hover {
        background: #efefef;
        transform: scale(1.05);
        transition: all 0.3s ease-in-out;
    }

@keyframes bounce {
    50% {
        transform: translateY(-10px);
    }
}

@keyframes scale {
    50% {
        transform: scale(0.9);
    }
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
        left: 25%;
    }

    50% {
        left: 60%;
        transform: rotate(168deg);
    }

    100% {
        transform: rotate(0deg);
        left: 25%;
    }
}

@keyframes move {
    0% {
        left: 25%;
    }

    50% {
        left: 60%;
    }

    100% {
        left: 25%;
    }
}

@media (max-width:768px) {
    .container-img {
        grid-column: 1/-1;
        align-self: center;
    }

    .card-inner img {
        width: 250px;
        height: 250px;
    }

    .card2 {
        width: 260px;
        height: 260px;
    }

    .card-inner {
        width: 260px;
        height: 260px;
    }

    .container-right {
        grid-column: 1/-1;
        padding-left: 1em;
        align-self: center;
    }

    .container-button {
        padding-top: 2em;
        padding-left: 8em;
    }

    .card {
        width: 400px;
        height: 500px;
    }

    #success-box {
        width: 20em;
        height: 25em;
        top: 20%;
        left: 8%;
    }
}
