@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educa</title>
    <link rel="stylesheet" href="~/css/Leccion2Pag1Style.css">
    <link rel="shortcut icon" href="~/Images/Home/LogoIconEduca.png">
</head>
<body>
    <div class="content-Page">
        <div id="title-Top" class="title-Top">
            <div class="title-t">
                <div class="card2">
                    <div class="icon2">
                      <img src="~/Images/Home/Logo250x150.png" width="55" height="55" alt="">
                    </div>
                
                    <div class="content-card2">
                        <h3>Lección</h3>
                        <p>Vocales </p>
                    </div>
                </div>
            </div>
            <div class="title-t2">Introducción</div>
            <div class="title-t3">
                <div class="loader"></div> 
            </div>            
        </div>
        <div id="info-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face">
              <div class="eye"></div>
              <div class="eye right2"></div>
              <div class="mouth happy"></div>
            </div>
            <div class="shadow scale"></div>
            <div class="message"><h1 class="alert">Bienvenido!</h1><p>Vamos por tu segunda lección.</div>
            <button class="button-box" onclick="Inicio()"><h1 class="black">Empezar</h1></button>
        </div>
        <div id="container" class="container">
            <div id="container-1" class="container-1">
                <div class="page">
                    <div class="margin"></div>
                    <p>Las vocales son importantes porque sin ellas, no podríamos formar palabras. Cada vez que hablas, lees o escribes, utilizas las vocales. Ellas le dan sonido y sentido a las palabras. Puedes imaginarlas como las notas musicales que hacen que una canción suene bonita.</p>
                </div>
            </div>
            <div class="container-2">
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion2/abeja.png" width="55" height="55" alt=""></h3>
                            <p class="subtitle">A</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Abeja
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-3"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion2/elefante.png" width="55" height="55" alt=""></h3>
                            <p class="subtitle">E</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Elefante
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-4">
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion2/isla.png" width="55" height="55" alt=""></h3>
                            <p class="subtitle">I</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Isla
                            </p>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="container-5"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion2/oso.png" width="55" height="55" alt=""></h3>
                            <p class="subtitle">O</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Oso
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-6"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion2/uva.png" width="55" height="55" alt=""></h3>
                            <p class="subtitle">U</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Uva
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-7">
                Gato
            </div>   
            <div class="container-8"> 
                <div class="First_8">
                    <svg class="icon-F"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" zoomAndPan="magnify" viewBox="0 0 30 30.000001" height="40" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><clipPath id="id1"><path d="M 2.328125 4.222656 L 27.734375 4.222656 L 27.734375 24.542969 L 2.328125 24.542969 Z M 2.328125 4.222656 " clip-rule="nonzero" fill="white"></path></clipPath></defs><g clip-path="url(#id1)"><path fill="white" d="M 27.5 7.53125 L 24.464844 4.542969 C 24.15625 4.238281 23.65625 4.238281 23.347656 4.542969 L 11.035156 16.667969 L 6.824219 12.523438 C 6.527344 12.230469 6 12.230469 5.703125 12.523438 L 2.640625 15.539062 C 2.332031 15.84375 2.332031 16.335938 2.640625 16.640625 L 10.445312 24.324219 C 10.59375 24.472656 10.796875 24.554688 11.007812 24.554688 C 11.214844 24.554688 11.417969 24.472656 11.566406 24.324219 L 27.5 8.632812 C 27.648438 8.488281 27.734375 8.289062 27.734375 8.082031 C 27.734375 7.875 27.648438 7.679688 27.5 7.53125 Z M 27.5 7.53125 " fill-opacity="1" fill-rule="nonzero"></path></g></svg>
                </div>
            </div>
            <div class="container-9"> 
                Gt
            </div>
            <div class="container-10"> 
                <div class="Second_8">
                    <svg class="icon-S" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"> <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/> </svg>
                </div>
            </div>
            <div class="container-11"> 
                Patito
            </div>
            <div class="container-12">
                <div class="Third_8">
                    <svg class="icon-T" version="1.0" xmlns="http://www.w3.org/2000/svg"
                    width="1074.000000pt" height="1280.000000pt" viewBox="0 0 1074.000000 1280.000000"
                    preserveAspectRatio="xMidYMid meet">
                   <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)"
                   fill="#000000" stroke="none">
                   <path d="M7084 11968 c-263 -458 -614 -1069 -780 -1358 l-302 -525 -2991 -5
                   c-1644 -3 -2992 -8 -2994 -10 -3 -3 -8 -609 -12 -1347 l-7 -1343 2225 0 2225
                   0 -142 -243 c-77 -134 -312 -538 -521 -899 l-380 -655 -314 -6 c-173 -4 -937
                   -7 -1698 -7 l-1383 0 0 -367 c0 -203 -3 -810 -7 -1350 l-6 -983 926 -2 925 -3
                   -453 -790 c-249 -434 -452 -791 -451 -792 0 0 498 -289 1106 -642 l1105 -641
                   80 0 80 1 833 1443 832 1443 772 13 c511 9 1019 11 1503 6 1257 -11 2531 -25
                   3018 -32 l467 -6 0 1356 0 1356 -2113 2 -2113 3 381 681 c209 375 441 786 515
                   913 l135 232 485 -6 c803 -10 2302 -25 2513 -25 l197 0 0 1350 0 1350 -815 0
                   c-448 0 -815 2 -815 4 0 2 33 60 73 127 374 632 758 1302 751 1309 -5 4 -505
                   294 -1111 644 l-1103 636 -79 0 -79 0 -478 -832z"/>
                   </g>
                   </svg>
                </div> 
            </div>
            <div class="container-13"> 
                Petito
            </div>
        </div>
        <div id="end" class="end">
            <div class="Next-b">
                <button type="button" onclick="Next()" class="btn cube cube-hover">
                    <div class="bg-top">
                    <div class="bg-inner"></div>
                    </div>
                    <div class="bg-right">
                    <div class="bg-inner"></div>
                    </div>
                    <div class="bg_i">
                    <div class="bg-inner"></div>
                    </div>
                    <div class="text">Continuar</div>
                  </button>
            </div>
        </div>
    </div>
    <footer>
        <p>Hecho con &#128147; por Alumnos de UPN &#9996;</p>
    </footer>
    
    
    
    </div>
    <script src="~/js/Leccion2Pag1Script.js"></script>
    
</body>
</html>