@{Layout = null;}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'>
  <link rel="stylesheet" href="~/css/Leccion3Pag7Style.css">
  <link rel="shortcut icon" href="~/Images/Home/LogoIconEduca.png">
</head>
<body>
<!-- partial:index.partial.html -->
<center><h1>Silabario W</h1></center>
<section class="score">
    <span class="correct">0</span>/<span class="total">0</span>
    <button id="play-again-btn">siguiente</button>
  </section>
  <section class="draggable-items">
    <!-- Will be dynamically populated - Example Element: -->
    <!-- <i class="fab fa-codepen draggable" draggable="true" style="color: #111111;" id="codepen"></i> -->
  </section>
  <section class="matching-pairs">
    <!-- Will be dynamically populated - Example Element: -->
    <!-- <div class="matching-pair">
      <span class="label">Codepen</span><span class="droppable" data-brand="codepen"></span>
    </div> -->
  </section>
  
<!-- partial -->
  <script  src="~/js/Leccion3Pag28Script.js"></script>

</body>
</html>