@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educa</title>
    <link rel="stylesheet" href="~/css/Leccion3Pag2.css">
    <link rel="shortcut icon" href="~/Images/Home/LogoIconEduca.png">
</head>
<body>
    <div class="content">
        <div id="title" class="title">
            <div class="title-t">Consonantes</div>
            <svg class="loader" viewBox="0 0 100 100">
                <circle class="moon moon-back"></circle>
                <circle class="planet"></circle>
                <circle class="moon moon-front"></circle>
            </svg>               
        </div>
        <div id="error-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face2">
                <div class="eye"></div>
                <div class="eye right2"></div>
                <div class="mouth sad"></div>
            </div>
            <div class="shadow move"></div>
            <div class="message"><h1 class="alert">Oh no, no puedes avanzar.</h1><p>Escucha todos!</div>
            <button class="button-box" onclick="Error()"><h1 class="red">Continuar</h1></button>
        </div>
       
        <div id="container" class="container">
            <div class="container-1">
                <div class="img">
                    <div class="card">
                        <div class="card"><img src="~/Images/Leccion/Leccion3/Pag5/ZPalabra.png" width="150" height="150"></div>
                    </div>
                </div>
                <div class="img-2">
                    <img  alt="0" src="~/Images/Leccion/Leccion3/Pag5/Z3.png" width="130" height="130">
                </div>
                <div class="button-cont">
                    <div class="container-button2" onclick="Play(0)">
                        <div class="hover bt-1"></div>
                        <div class="hover bt-2"></div>
                        <div class="hover bt-3"></div>
                        <div class="hover bt-4"></div>
                        <div class="hover bt-5"></div>
                        <div class="hover bt-6"></div>
                        <button class="son" ></button>
                    </div>
                </div>
            </div>
            <div class="container-2">
                <div class="img">
                    <div class="card"><img src="~/Images/Leccion/Leccion3/Pag5/YPalabra.png" width="150" height="150"></div>
                </div>
                <div class="img-2">
                    <img  alt="0" src="~/Images/Leccion/Leccion3/Pag5/Y3.png" width="130" height="130">
                </div>
                <div class="button-cont">
                    <div class="container-button2" onclick="Play(1)">
                        <div class="hover bt-1"></div>
                        <div class="hover bt-2"></div>
                        <div class="hover bt-3"></div>
                        <div class="hover bt-4"></div>
                        <div class="hover bt-5"></div>
                        <div class="hover bt-6"></div>
                        <button class="son" ></button>
                      </div>
                </div>
            </div>
            <div class="container-3">
                <div class="img">
                    <div class="card"><img src="~/Images/Leccion/Leccion3/Pag5/HPalabra.png" width="150" height="150"></div>
                </div>
                <div class="img-2">
                    <img  alt="0" src="~/Images/Leccion/Leccion3/Pag5/H3.png" width="130" height="130">
                </div>
                <div class="button-cont">
                    <div class="container-button2" onclick="Play(2)">
                        <div class="hover bt-1"></div>
                        <div class="hover bt-2"></div>
                        <div class="hover bt-3"></div>
                        <div class="hover bt-4"></div>
                        <div class="hover bt-5"></div>
                        <div class="hover bt-6"></div>
                        <button class="son" ></button>
                      </div>
                </div>
            </div>
            <div class="container-4">
                <div class="img">
                    <div class="card"><img src="~/Images/Leccion/Leccion3/Pag5/KPalabra.png" width="150" height="150"></div>
                </div>
                <div class="img-2">
                    <img  alt="0" src="~/Images/Leccion/Leccion3/Pag5/K3.png" width="130" height="130">
                </div>
                <div class="button-cont">
                    <div class="container-button2" onclick="Play(3)">
                        <div class="hover bt-1"></div>
                        <div class="hover bt-2"></div>
                        <div class="hover bt-3"></div>
                        <div class="hover bt-4"></div>
                        <div class="hover bt-5"></div>
                        <div class="hover bt-6"></div>
                        <button class="son" ></button>
                      </div>
                </div>
            </div>
            <div class="container-5">
                <div class="img">
                    <div class="card"><img src="~/Images/Leccion/Leccion3/Pag5/NiePalabra.png" width="150" height="150"></div>
                </div>
                <div class="img-2">
                    <img  alt="0" src="~/Images/Leccion/Leccion3/Pag5/Nie3.png" width="130" height="130">
                </div>
                <div class="button-cont">
                    <div class="container-button2" onclick="Play(4)">
                        <div class="hover bt-1"></div>
                        <div class="hover bt-2"></div>
                        <div class="hover bt-3"></div>
                        <div class="hover bt-4"></div>
                        <div class="hover bt-5"></div>
                        <div class="hover bt-6"></div>
                        <button class="son" ></button>
                      </div>
                </div>
            </div>
        </div>
        <div id="end" onclick="Siguiente()" class="end">
            <div class="container-button">
                <button  type="button" class="btn cube2 cube2-hover">
                    <div class="bg-top">
                    <div class="bg-inner"></div>
                    </div>
                    <div class="bg-right">
                    <div class="bg-inner"></div>
                    </div>
                    <div class="bg_i">
                    <div class="bg-inner"></div>
                    </div>
                    <div class="text">Continuar</div>
                  </button>
            </div>
        </div>
    </div>
    <script src="~/js/Leccion3Pag5Script.js"></script>
</body>
</html>