@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educa</title>
    <link rel="stylesheet" href="~/css/Leccion5Pag2Style.css">
    <link rel="shortcut icon" href="~/Images/Home/LogoIconEduca.png">
</head>
<body>
    <div class="content" id="content">
        <div id="title" class="title">
            <div class="animation">¿CUANDO DEBEMOS USAR MINÚSCULAS?</div>
                   
        </div>
        <div id="success-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face">
              <div class="eye"></div>
              <div class="eye right2"></div>
              <div class="mouth happy"></div>
            </div>
            <div class="shadow scale"></div>
            <div class="message"><h1 class="alert">Listo ¿?</h1><p>Vamos a aprender.</div>
            <button class="button-box" onclick="Inicio()"><h1 class="green">Empezar</h1></button>
        </div>
        <div id="error-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face2">
                <div class="eye"></div>
                <div class="eye right2"></div>
                <div class="mouth sad"></div>
            </div>
            <div class="shadow move"></div>
            <div class="message"><h1 class="alert">Oh no</h1><p>Escucha todos!</div>
            <button class="button-box" onclick="Error()"><h1 class="red">Continuar</h1></button>
        </div>
        <div id="container" class="container">
            <div id="container-1" class="container-1">
                <div class="text-Cont">
                    <div class="plan">
                        <div class="inner">
                            <span class="pricing">
                                <span>
                                   A &#127775; B
                                </span>
                            </span>
                            <p class="title">Los días y los meses</p>
                            <p class="info">Los nombres de los días de la semana y de cada uno de los meses que componen el año van completamente en minúsculas.</p>
                            <ul class="features">
                                <li>
                                    <span class="icon">
                                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                            <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                        </svg>
                                    </span>
                                    <span>El <strong>m</strong>artes iremos a una fiesta.</span>
                                </li>
                                <li>
                                    <span class="icon">
                                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                            <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                        </svg>
                                    </span>
                                    <span>Mi prima se casó en <strong>d</strong>iciembre.</span>
                                </li>
                                <li>
                                    <span class="iconW">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/> <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/> </svg>
                                    </span>
                                    <span>El <strong>L</strong>unes tengo examen.</span>
                                </li>
                                
                                <li>
                                    <span class="iconO">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16"> <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/> <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/> </svg>
                                    </span>
                                    <span>Entonces ella dijo: “<strong>O</strong>ctubre es mi mes favorito”</span>
                                </li>
                            </ul>
                            <div class="action">
                            <a class="button" href="#" onclick="Sound(0)">
                                Escuchar
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-cont"></div>
            </div>
            <div id="container-2" class="container-2">
                <div class="text-Cont">
                    <div class="plan">
                        <div class="inner">
                            <span class="pricing">
                                <span>
                                   A &#127775; B
                                </span>
                            </span>
                            <p class="title">Nombres de los idiomas</p>
                            <p class="info">El nombre de un idioma o de una lengua también va escrito con minúscula, sin importar de qué parte del mundo provenga.</p>
                            <ul class="features">
                                <li>
                                    <span class="icon">
                                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                            <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                        </svg>
                                    </span>
                                    <span>Carlos quiere aprender <strong>g</strong>riego para entender mejor la Biblia.</span>
                                </li>
                                <li>
                                    <span class="icon">
                                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                            <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                        </svg>
                                    </span>
                                    <span>Mi mejor amigo sabe hablar <strong>f</strong>rancés, <strong>c</strong>hino y <strong>a</strong>lemán.</span>
                                </li>
                                <li>
                                    <span class="icon">
                                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                            <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                        </svg>
                                    </span>
                                    <span>Desde niño me gustó mucho el <strong>i</strong>taliano.</span>
                                </li>
                                
                            </ul>
                            <div id="actionCont2" class="action">
                            <a class="button" href="#" onclick="Sound(1)">
                                Escuchar
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div id="container-3" class="container-3">
                <div class="text-Cont">
                    <div class="plan">
                        <div class="inner">
                            <span class="pricing">
                                <span>
                                    A &#127775; B
                                </span>
                            </span>
                            <p class="title">Nombres de religiones</p>
                            <p class="info">No hay duda de que las religiones son un elemento cultural e histórica de mucha importancia. Sin embargo, deben estar escritas en minúsculas.</p>
                            <ul class="features">
                                <li>
                                    <span class="icon">
                                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                            <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                        </svg>
                                    </span>
                                    <span>El <strong>c</strong>ristianismo.</span>
                                </li>
                                <li>
                                    <span class="icon">
                                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                            <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                                        </svg>
                                    </span>
                                    <span>El <strong>i</strong>slam está perdiendo fieles.</span>
                                </li>
                                <li>
                                    <span class="iconW">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/> <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/> </svg>
                                    </span>
                                    <span>El <strong>J</strong>udaísmo.</span>
                                </li>
                            </ul>
                            <div class="action">
                            <a class="button" href="#" onclick="Sound(2)">
                                Escuchar
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div id="container-4" class="container-4">
                <img src="~/Images/Leccion/Leccion5/Pag2/Img1M.png" height="300" alt="">
            </div>
        </div>
        <center><button id="end" type="button" onclick="Next()" class="btn cube cube-hover">
            <div class="bg-top">
            <div class="bg-inner"></div>
            </div>
            <div class="bg-right">
            <div class="bg-inner"></div>
            </div>
            <div class="bg_i">
            <div class="bg-inner"></div>
            </div>
            <div class="text">Continuar</div>
          </button></center>
    </div>
    
    <footer>
        <center><p>Hecho con &#128147; por Alumnos de UPN &#9996;</p></center>
    </footer>
    <script src="~/js/Leccion5Pag2Script.js"></script>
</body>
</html>