@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educa</title>
    <link rel="stylesheet" href="~/css/Leccion4Pag2Style.css">
    <link rel="shortcut icon" href="~/Images/Home/LogoIconEduca.png">
</head>
<body>
    <div class="content" id="content">
        <div id="title" class="title">
            <div class="animation">Uso de mayúsculas</div>
                   
        </div>
        <div id="success-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face">
              <div class="eye"></div>
              <div class="eye right2"></div>
              <div class="mouth happy"></div>
            </div>
            <div class="shadow scale"></div>
            <div class="message"><h1 class="alert">Listo ¿?</h1><p>Vamos a aprender.</div>
            <button class="button-box" onclick="Inicio()"><h1 class="green">Empezar</h1></button>
        </div>
        <div id="container" class="container">
            <div id="container-1" class="container-1">
                <div class="text-Cont">
                    <div class="page">
                        <div class="margin"></div>
                        <p>En Algunas Ocasiones Encontramos Letras Más Grandes Que Las Que Normalmente Usamos Al Escribir, Y Esos Tamaños También Son De Mucha Utilidad Al Momento De Comunicarnos… ¡Aprendamos Sobre Las Siempre Útiles Mayúsculas!</p>
                      </div>
                </div>
                <div class="img-Cont">
                    <img src="~/Images/Leccion/Leccion4/Pag2/Img1M.png" width="450" height="420" alt="">
                </div>
            </div>
        </div>
    </div>
    <center><button id="end" type="button" onclick="Next()" class="btn cube cube-hover">
        <div class="bg-top">
        <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
        <div class="bg-inner"></div>
        </div>
        <div class="bg_i">
        <div class="bg-inner"></div>
        </div>
        <div class="text">Continuar</div>
      </button></center>
    <footer>
        <center><p>Hecho con &#128147; por Alumnos de UPN &#9996;</p></center>
    </footer>
    <script src="~/js/Leccion4Pag2Script.js"></script>
</body>
</html>