@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educa</title>
    <link rel="stylesheet" href="~/css/Leccion6Pag1Style.css">
    <link rel="shortcut icon" href="~/Images/Home/LogoIconEduca.png">
</head>
<body>
    <div class="content" id="content">
        <div id="title" class="title">
            <div class="animation">Familia</div>
                   
        </div>
        <div id="success-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face">
              <div class="eye"></div>
              <div class="eye right2"></div>
              <div class="mouth happy"></div>
            </div>
            <div class="shadow scale"></div>
            <div class="message"><h1 class="alert">Bienvenido!</h1><p>Vamos por tu sexta lección.</div>
            <button class="button-box" onclick="Inicio()"><h1 class="green">Empezar</h1></button>
        </div>
        <div id="container" class="container">
            <div id="container-1" class="container-1">
                <center><img src="~/Images/Leccion/Leccion6/Pag1/Leccion6.png" width="1200" height="530" alt=""></center>
            </div>
        </div>
    </div>
    <div class="foo">
        <a href="~/Documentos/Leccion6Arbol.pdf" download="Leccion6" id="button2" class="button2" data-tooltip="Size: 317KB">
            <div class="button-wrapper">
              <div class="text2">Descargar</div>
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17"></path></svg>
                </span>
              </div>
            </a>
        <button id="end" type="button" onclick="Next()" class="btn cube cube-hover">
            <div class="bg-top">
            <div class="bg-inner"></div>
            </div>
            <div class="bg-right">
            <div class="bg-inner"></div>
            </div>
            <div class="bg_i">
            <div class="bg-inner"></div>
            </div>
            <div class="text">Continuar</div>
          </button>
    </div>
    
    <footer>
        <center><p>Hecho con &#128147; por Alumnos de UPN &#9996;</p></center>
    </footer>
    <script src="~/js/Leccion6Pag1Script.js"></script>
</body>
</html>