@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educa</title>
    <link rel="stylesheet" href="~/css/Leccion3Pag1Style.css">
    <link rel="shortcut icon" href="~/Images/Home/LogoIconEduca.png">
</head>
<body>
    <div class="content-Page">
        <div id="title-Top" class="title-Top">
            <div class="title-t">
                <div class="card2">
                    <div class="icon2">
                      <img src="~/Images/Home/LogoBlack250x150.png" width="55" height="55" alt="">
                    </div>
                
                    <div class="content-card2">
                        <h3>Lección</h3>
                        <p>Consonantes</p>
                    </div>
                </div>
            </div>
            <div class="title-t2">Introducción</div>
            <div class="title-t3">
                <div class="loader"></div> 
            </div>            
        </div>
        <div id="success-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face">
              <div class="eye"></div>
              <div class="eye right2"></div>
              <div class="mouth happy"></div>
            </div>
            <div class="shadow scale"></div>
            <div class="message"><h1 class="alert">Bienvenido!</h1><p>Vamos por tu tercera lección.</div>
            <button class="button-box" onclick="Inicio()"><h1 class="green">Empezar</h1></button>
        </div>
        <div id="container" class="container">
            <div id="container-1" class="container-1">
                <div class="page">
                    <div class="margin"></div>
                    <p>Las consonantes son como los cimientos de las palabras. Imagina que las consonantes son los ladrillos que construyen una casa. Sin ellas, las palabras no tendrían estructura y serían difíciles de entender.</p>
                </div>
            </div>
            <div class="container-2">
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/bPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">B</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Ballena
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-3"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/cPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">C</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Cocodrilo
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-4">
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/dPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">D</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Delfín
                            </p>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="container-5"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/fPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">F</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Flamenco
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-6"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/gPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">G</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Gallina
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-7">
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/hPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">H</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Hormiga
                            </p>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="container-8"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/jPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">J</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Jirafa
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-9"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/kPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">K</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Koala
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-10"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/lPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">L</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Lagartija
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-11"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/mPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">M</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Mono
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-12">
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/nPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">N</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Nutria
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-13"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/niuPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">Ñ</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Ñu
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-14"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/pPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">P</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Pingüino
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-15"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/qPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">Q</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Quetzal
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-16"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/rPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">R</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Rana
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-17"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/sPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">S</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Serpiente
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-18"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/tPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">T</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Tortuga
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-19"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/vPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">V</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Vaca
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-20"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/wPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">W</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Wallaby
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-21"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/xPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">X</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Xarda
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-22"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/yPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">Y</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Yegua
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-23"> 
                <div class="card">
                    <div class="content">
                        <div class="front">
                            <h3 class="title"><img src="~/Images/Leccion/Leccion3/Pag1/zPag1.png" width="75" height="75" alt=""></h3>
                            <p class="subtitle">Z</p>
                        </div>
             
                        <div class="back">
                            <p class="description">
                                Zorrillo
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="end" class="end">
        <div class="Next-b">
            <button type="button" onclick="Next()" class="btn cube cube-hover">
                <div class="bg-top">
                <div class="bg-inner"></div>
                </div>
                <div class="bg-right">
                <div class="bg-inner"></div>
                </div>
                <div class="bg_i">
                <div class="bg-inner"></div>
                </div>
                <div class="text">Continuar</div>
              </button>
        </div>
    </div>
    <footer>
        <p>Hecho con &#128147; por Alumnos de UPN &#9996;</p>
    </footer>
    
    
    
    </div>
    <script src="~/js/Leccion3Pag1Script.js"></script>
    
</body>
</html>