@{Layout = null;}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Educa</title>
  <link rel="stylesheet" href="~/css/Subtema1Exam2Style.css">
  <link rel="shortcut icon" href="~/Images/Home/LogoIconEduca.png">
</head>
<body>
  
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en">

<head>

  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>Educa</title>

  <!--  Styles  -->
  <link rel="stylesheet" href="lib/lib.css">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
  
  <div id="app-container">
    <div id="score-container">Puntos: 0</div>
    <div id="app-title">
      <div class="card">
      <p class="title1">2°</p>
      <p class="title2">Examen</p>
      <img class="svg" src="~/Images/Home/LogoBlack250x150.png" width="105" height="55" alt="">
      </div>
    </div>
    <div id="questions-container"></div>
  </div>
  <div id="error-box">
    <div class="dot"></div>
    <div class="dot two"></div>
    <div class="face2">
        <div class="eye"></div>
        <div class="eye right2"></div>
        <div class="mouth happy"></div>
    </div>
    <div class="shadow move"></div>
    <div class="message"><h1 class="alert">Completado!</h1><p id="puntos">Puntos: 5</p></div>
    <button class="button-box" onclick="Next()"><h1 class="green">Continuar</h1></button>
  </div>
  <div id="info-box">
    <div class="dot"></div>
    <div class="dot two"></div>
    <div class="face">
      <div class="eye"></div>
      <div class="eye right2"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="shadow scale"></div>
    <div class="message"><h1 class="alert">Examen 2</div>
    <button class="button-box" onclick="Inicio()"><h1 class="black">Empezar</h1></button>
</div>
  <!-- Scripts -->
  <script src="lib/lib.js"></script>
  <script src="scripts/index.js"></script>
</body>

</html>

<!-- partial -->
  <script  src="~/js/Subtema1Exam2Script.js"></script>

</body>
</html>
